/* Your styles should be mobile-first and responsive */

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 75%;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
  direction: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 7.5px;
  margin-top: 20px;
  margin-bottom: 15px;
  overflow-wrap: anywhere;
}

h3 {
  text-align: center;
  direction: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 7.5px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-wrap: anywhere;
}

p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 7.5px;
  margin-top: 15px;
  margin-bottom: 30px;
  overflow-wrap: anywhere;
}

.cutegif {
  text-align: center;
  margin-bottom: 40px;
}

.score {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 7.5px;
  margin-top: 1px;
  margin-bottom: 1px;
  overflow-wrap: anywhere;
}

.radio {
  display: flex;
  flex-direction: column;
}

.answer {
  display: inline;
}

input[type=button], input[type=submit] {
  margin-top: 15px;
  margin-bottom: 45px;
  display: block;
  border-radius: 8px;
  background-color: rgb(175, 76, 76);
  border: none;
  color: white;
  padding: 15px;
  font-size: 24px;
  text-emphasis: bold;
  text-align: center;
  width: 150px;
  height: 55px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

input[type=button]:hover {
  background-color: rgb(96, 226, 100);
}

input[type=submit]:hover {
  background-color: rgb(96, 226, 100);
}

form {
  background-color: white;
  width: 400px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

input[type=radio] {
  
}

@media (min-width: 700px) { /* Medium Screen */
  body {
    width: 80%;
    margin: 0 auto;
  }

  input[type=button] {
    width: 200px;
    margin-top: 20px;
  }

  .score {
    font-size: 20px;
  }

  h2 {
    margin-top: 30px;
  }

  p {
    width: 340px;
    margin-bottom: 45px;
  }
}

@media (min-width: 1024px) { /* Large Screen */
  body {
    width: 100%;
    margin: 0 auto;
  }

  h2 {
    margin-top: 40px;
  }

  input[type=button] {
    margin-top: 40px;
    width: 320px;
  }

  p {
    width: 500px;
    margin-bottom: 50px;
  }
}