/* Your styles should be mobile-first and responsive */

* {
  box-sizing: border-box;
  font-family: 'Khula', sans-serif;
}

body {
  width: 75%;
  margin: 0 auto;
}

.cutegif {
  text-align: center;
}

h1, h2, h3, p {
  text-align: center;
  margin: 14px;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
}

h2, h3 {
  font-family: 'Jura', sans-serif;
}

fieldset {
  border: none;
}

img {
  text-align: center;
  width: 250px;
  border: 3px solid light grey;
  border-radius: 10px;
}

label {
  margin-left: 1px;
}

.fix {
  background-color: rgb(255, 252, 236);
  width: fit-content;
  border: 1px solid black;
  border-radius: 20px;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 15px;
}

.fix:hover {
  background-color: bisque;
  text-emphasis: bolder;
  transition: 0.5s;
}


input[type=button], input[type=submit] {
  margin-top: 15px;
  margin-bottom: 45px;
  display: block;
  border-radius: 8px;
  background-color: rgb(175, 76, 76);
  border: none;
  color: white;
  padding: 15px;
  font-size: 24px;
  text-emphasis: bold;
  text-align: center;
  width: 150px;
  height: 55px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

input[type=button]:hover {
  background-color: rgb(96, 226, 100);
  transition: 0.25s;
}

input[type=submit]:hover {
  background-color: rgb(96, 226, 100);
  transition: 0.25s;
}




@media (min-width: 700px) { /* Medium Screen */
  img {
    width: 350px;
    border: 5px solid light grey;
  }

  h1 {
    padding-top: 30px;
  }
  
}

@media (min-width: 1024px) { /* Large Screen */
  img {
    width: 450px;
    border: 7px solid light grey;
  }

  h1 {
    padding-top: 45px;
  }
}

.fade-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
  -ms-animation: fadeIn ease 5.s;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}